<form class="{{cssClass}}" autocomplete="off">

<header class="sheet-header">
  <img src="{{actor.img}}" data-edit="img" height="100" width="100"/>

  <h1>
    <input class="actor-nombre-input" name="name" type="text" value="{{actor.name}}"/>
  </h1>
</header>


<nav class="tabs tienda-tabs" data-group="primary">
  <a class="item" data-tab="objetos">Objetos</a>
  <a class="item" data-tab="armas">Armas</a>
  <a class="item" data-tab="equipo">Equipo</a>
  <a class="item" data-tab="elixires">Elixires</a>
</nav>


<section class="sheet-body tienda-drop" data-drop="item">

<!-- OBJETOS -->
<div class="tab" data-group="primary" data-tab="objetos">

{{#each objetos}}
<div class="tienda-item">

<span class="item-nombre">
{{this.name}}
<span class="stock">(x{{this.system.cantidad}})</span>
</span>

<div class="item-compra">

<span class="precio">
{{#if this.system.precio_oro}}{{this.system.precio_oro}} Oro{{/if}}
{{#if this.system.precio_rubi}}{{this.system.precio_rubi}} Rubí{{/if}}
{{#if this.system.precio_diamante}}{{this.system.precio_diamante}} Diamante{{/if}}
</span>

<button type="button"
class="btn-comprar"
data-item-id="{{this.id}}">
Comprar
</button>

</div>

</div>
{{/each}}

</div>


<!-- ARMAS -->
<div class="tab" data-group="primary" data-tab="armas">

{{#each armas}}
<div class="tienda-item">

<span class="item-nombre">
{{this.name}}
<span class="stock">(x{{this.system.cantidad}})</span>
</span>

<div class="item-compra">

<span class="precio">
{{#if this.system.precio_oro}}{{this.system.precio_oro}} Oro{{/if}}
{{#if this.system.precio_rubi}}{{this.system.precio_rubi}} Rubí{{/if}}
{{#if this.system.precio_diamante}}{{this.system.precio_diamante}} Diamante{{/if}}
</span>

<button type="button"
class="btn-comprar"
data-item-id="{{this.id}}">
Comprar
</button>

</div>

</div>
{{/each}}

</div>


<!-- EQUIPO -->
<div class="tab" data-group="primary" data-tab="equipo">

{{#each equipo}}
<div class="tienda-item">

<span class="item-nombre">
{{this.name}}
<span class="stock">(x{{this.system.cantidad}})</span>
</span>

<div class="item-compra">

<span class="precio">
{{#if this.system.precio_oro}}{{this.system.precio_oro}} Oro{{/if}}
{{#if this.system.precio_rubi}}{{this.system.precio_rubi}} Rubí{{/if}}
{{#if this.system.precio_diamante}}{{this.system.precio_diamante}} Diamante{{/if}}
</span>

<button type="button"
class="btn-comprar"
data-item-id="{{this.id}}">
Comprar
</button>

</div>

</div>
{{/each}}

</div>


<!-- ELIXIRES -->
<div class="tab" data-group="primary" data-tab="elixires">

{{#each elixires}}
<div class="tienda-item">

<span class="item-nombre">
{{this.name}}
<span class="stock">(x{{this.system.cantidad}})</span>
</span>

<div class="item-compra">

<span class="precio">
{{#if this.system.precio_oro}}{{this.system.precio_oro}} Oro{{/if}}
{{#if this.system.precio_rubi}}{{this.system.precio_rubi}} Rubí{{/if}}
{{#if this.system.precio_diamante}}{{this.system.precio_diamante}} Diamante{{/if}}
</span>

<button type="button"
class="btn-comprar"
data-item-id="{{this.id}}">
Comprar
</button>

</div>

</div>
{{/each}}

</div>

</section>

</form>
